<?xml version='1.0'?>
<model>
  <name>enceladus_surface</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <description>
    Enceladus conceptual surface model for submersible exploration. Uses Svalbard Ausfonna Glacier Wall scan by Sircher on Sketchfab.
  </description>
</model>
