<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="SSRMS_Canadarm2_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="Base_Joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Base_Joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Shoulder_Roll">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Shoulder_Roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Shoulder_Yaw">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Shoulder_Yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Elbow_Pitch">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Elbow_Pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Wrist_Pitch">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Wrist_Pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Wrist_Yaw">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Wrist_Yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Wrist_Roll">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Wrist_Roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
