<?xml version="1.0"?>

<model>
  <name>Light Dust Storm</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Naman Malik</name>
    <email>naman.malik@accelerationrobotics.com</email>
  </author>

  <description>
    A Configurable particle_emitter that produces brown particles to create a 
    Dust like effect.
    The Dust Emitter can be configured using the Dust Control GUI plugin.
    Parameters that can be configured:
    - Volume of emitter (x, y, z)
    - Position (x, y, z)
    - Dust Density
    - Dust Velocity
    - Dust Angle
  </description>
</model>
