apt-utils
bash-completion
build-essential
curl
debian-archive-keyring
debian-keyring
gedit
git
git-lfs
gpg-agent
libxcb-cursor0
libxcb-xinerama0
libxkbcommon-x11-0
locales
lsb-release
python-is-python3
python3
python3-pip
python3-setuptools
software-properties-common
sudo
telnet
tree
wget
libglu1-mesa
libgl1-mesa-glx
libxrender1
libcanberra-gtk3-0
libpci-dev
xauth
xterm
