python3-colcon-common-extensions
python3-rosdep
ros-humble-desktop
ros-humble-controller-manager
ros-humble-xacro
ros-humble-vision-msgs
ros-humble-rmw-cyclonedds-cpp
ros-humble-teleop-twist-keyboard
ros-humble-angles
ros-humble-ros2-control
ros-humble-ros2-controllers
