<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <xacro:macro name="camera_rgb" params="robot_name parent_name origin_xyz camera_ROLL camera_PITCH camera_YAW">

    <link name="${robot_name}_rgb_camera_link_frame">
    </link>

    <joint name="${robot_name}_rgb_camera_link_frame_joint" type="fixed">
        <origin rpy="${camera_ROLL} ${camera_PITCH} ${camera_YAW}" xyz="${origin_xyz}"/>
        <parent link="${parent_name}" />
        <child link="${robot_name}_rgb_camera_link_frame" />
        <axis xyz="0 0 0"/>
    </joint>

    <gazebo reference="${robot_name}_rgb_camera_link_frame">
        <sensor name="${robot_name}_camera" type="depth">
          <update_rate>20</update_rate>

        <!-- <sensor name="${robot_name}_camera" type="wideanglecamera"> -->
          <camera>
            <horizontal_fov>1.047198</horizontal_fov>
            <image>
              <width>640</width>
              <height>480</height>
              <format>R8G8B8</format>
            </image>
            <clip>
              <near>0.05</near>
              <far>3</far>
            </clip>
          </camera>
          <plugin name="${robot_name}_camera_controller" filename="libgazebo_ros_camera.so">
            <ros>
              <namespace>${robot_name}</namespace>
            </ros>
          
            <cameraName>${robot_name}_rgb_camera</cameraName>
            <imageTopicName>image_raw</imageTopicName>
            <cameraInfoTopicName>camera_info</cameraInfoTopicName>


            <depthImageTopicName>/depth/image_raw</depthImageTopicName>
            <depthImageInfoTopicName>/depth/camera_info</depthImageInfoTopicName>
            <pointCloudTopicName>/depth/points</pointCloudTopicName>

            <frameName>${robot_name}_rgb_camera_link_frame</frameName>


          </plugin>
        </sensor>
    </gazebo>

  </xacro:macro>




</robot>