<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="ssrms_canadarm2_gazebo" params="command_interface:=effort">


        <ros2_control name="GazeboSystem" type="system">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
            <joint name="Base_Joint">
                <command_interface name="${command_interface}"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="Shoulder_Roll">
                <command_interface name="${command_interface}"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="Shoulder_Yaw">
                <command_interface name="${command_interface}"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="Elbow_Pitch">
                <command_interface name="${command_interface}"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="Wrist_Pitch">
                <command_interface name="${command_interface}"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="Wrist_Yaw">
                <command_interface name="${command_interface}"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="Wrist_Roll">
                <command_interface name="${command_interface}"/>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
        </ros2_control>

        <gazebo>
            <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <robot_param>robot_description</robot_param>
                <robot_param_node>robot_state_publisher</robot_param_node>
                <parameters>$(find canadarm_description)/models/config/canadarm_control.yaml</parameters>
            </plugin>
        </gazebo>

        <!-- Colors -->
        <material name="White">
            <color rgba="1.0 1.0 1.0 1.0"/>
        </material>


    </xacro:macro>

</robot>  

