<?xml version="1.0"?>

<model>
  <name>hokuyo</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
  </author>

  <description>
    Lidar model based on the Hokuyo UTM-30LX specifications.

    Hokuyo UST-30LX
    FOV: 270 deg
    Horizontal Angular Resolution: 0.25 deg
    Min Range: 0.1 m
    Max Range: 30 m
    Resolution: 1 mm
    Accuracy: 4 cm
    Rate: 40 Hz
  </description>
</model>
