name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Run the build.sh scripts
      run: |
            # find the build.sh scripts and execute them
            echo "Running all build.sh scripts in repo"
            for f in $(find . -iname 'build.sh')
            do 
              $f || exit 1
            done
            echo "Done running build.sh scripts"
