<?xml version="1.0"?>
<robot name="curiosity_mars_rover" xmlns:xacro="http://wiki.ros.org/xacro">

    <!-- Inertia matrices -->
	<xacro:include filename="$(find mars_rover)/urdf/macros.xacro" />
	<!-- Robot constants and properties -->
	<xacro:include filename="$(find mars_rover)/urdf/curiosity_mars_rover_properties.xacro" />
	<!-- Gazebo aspects of the robot -->
	<xacro:include filename="$(find mars_rover)/urdf/curiosity_mars_rover.gazebo" />
	<!-- Chasis -->
	<xacro:include filename="$(find mars_rover)/urdf/chassis.xacro" />
	<!-- Wheel Groups -->
	<xacro:include filename="$(find mars_rover)/urdf/wheel.xacro" />
	<xacro:include filename="$(find mars_rover)/urdf/left_wheel_group.xacro" />
	<xacro:include filename="$(find mars_rover)/urdf/right_wheel_group.xacro" />
	<!-- Arm -->
	<xacro:include filename="$(find mars_rover)/urdf/arm.xacro" />
	<!-- Sensor Mast -->
	<xacro:include filename="$(find mars_rover)/urdf/sensor_mast.xacro" />

	<xacro:chassis_body/>
	<xacro:left_wheel_tree/>
	<xacro:right_wheel_tree/>

	<xacro:arm/>
	<xacro:sensor_mast/>


    <ros2_control name="IgnitionSystem" type="system">
        <hardware>
            <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>
        <!-- Arm Joints Interfaces-->
        <joint name="arm_01_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="arm_02_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="arm_03_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="arm_04_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="arm_tools_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <!-- Mast Joints Interfaces-->
        <joint name="mast_p_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="mast_02_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="mast_cameras_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <!-- Wheel Joints Interfaces-->
        <joint name="front_wheel_L_joint">
            <command_interface name="velocity" />
        </joint>
        <joint name="middle_wheel_L_joint">
            <command_interface name="velocity" />
        </joint>
        <joint name="back_wheel_L_joint">
            <command_interface name="velocity" />
        </joint>
        <joint name="front_wheel_R_joint">
            <command_interface name="velocity" />
        </joint>
        <joint name="middle_wheel_R_joint">
            <command_interface name="velocity" />
        </joint>
        <joint name="back_wheel_R_joint">
            <command_interface name="velocity" />
        </joint>
        <!-- Steering Joints Interfaces-->
        <joint name="suspension_steer_F_L_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="suspension_steer_B_L_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="suspension_steer_F_R_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="suspension_steer_B_R_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <!-- Suspension Arms Interfaces-->
        <joint name="suspension_arm_F_L_joint">
            <command_interface name="effort"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="suspension_arm_B_L_joint">
            <command_interface name="effort"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="suspension_arm_B2_L_joint">
            <command_interface name="effort"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="suspension_arm_F_R_joint">
            <command_interface name="effort"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="suspension_arm_B_R_joint">
            <command_interface name="effort"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="suspension_arm_B2_R_joint">
            <command_interface name="effort"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin filename="libign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
        <parameters>$(find mars_rover)/config/mars_rover_control.yaml</parameters>
        </plugin>
    </gazebo>



    <gazebo reference="camera_link">
        <sensor type="camera" name="camera_sensor">
            <visualize>1</visualize>
            <update_rate>10.0</update_rate>
            <camera>
                <pose>1.0 0 0 0 0 -1.57</pose>
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>800</width>
                    <height>800</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                <near>0.01</near>
                <far>100</far>
                </clip>
                <noise>
                <type>gaussian</type>
                <stddev>0.007</stddev>
                </noise>
            </camera>
            <always_on>1</always_on>
            <topic>image_raw</topic>
            <plugin
                filename="ignition-gazebo-sensors-system"
                name="ignition::gazebo::systems::Sensors">
                <render_engine>ogre2</render_engine>
                <background_color>0.9 0.753 0.66 1</background_color>
            </plugin>
        </sensor>
    </gazebo>




</robot>