<?xml version="1.0"?>
<robot name="curiosity_mars_rover" xmlns:xacro="http://wiki.ros.org/xacro">

    <!-- Inertia matrices -->
	<xacro:include filename="$(find mars_rover)/urdf/macros.xacro" />
	<!-- Robot constants and properties -->
	<xacro:include filename="$(find mars_rover)/urdf/curiosity_mars_rover_properties.xacro" />
	<!-- Gazebo aspects of the robot -->
	<!-- <xacro:include filename="$(find mars_rover)/urdf/curiosity_mars_rover.gazebo" /> -->
	<!-- Chasis -->
	<xacro:include filename="$(find mars_rover)/urdf/chassis.xacro" />
	<!-- Wheel Groups -->
	<xacro:include filename="$(find mars_rover)/urdf/wheel.xacro" />
	<xacro:include filename="$(find mars_rover)/urdf/left_wheel_group.xacro" />
	<xacro:include filename="$(find mars_rover)/urdf/right_wheel_group.xacro" />
	<!-- Arm -->
	<xacro:include filename="$(find mars_rover)/urdf/arm.xacro" />
	<!-- Sensor Mast -->
	<xacro:include filename="$(find mars_rover)/urdf/sensor_mast.xacro" />

	<xacro:chassis_body/>
	<xacro:left_wheel_tree/>
	<xacro:right_wheel_tree/>

	<xacro:arm/>
	<xacro:sensor_mast/>


    <ros2_control name="IgnitionSystem" type="system">
        <hardware>
            <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>
        <joint name="arm_01_joint">
            <command_interface name="position">
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
    </ros2_control>

    <gazebo>
        <plugin filename="libign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
        <parameters>$(find mars_rover)/config/mars_rover_control.yaml</parameters>
        </plugin>
    </gazebo>
</robot>